*{
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 1em;
    background-color: rgb(211, 199, 204) ;
    color: white;
    justify-content: space-between;
    align-items: right;
    flex-wrap: wrap;
    
}

.flex-container {
    display:flex;
    flex-direction: row;
    background-color: rgb(211, 199, 204);

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    
}

li {
    float: right;
    
}

li a {
    display:inline-block;
    color:white;
    text-align: center;
    padding: 14px 16px;
   
}
.hero-image {
    height: 100px;
    background-image: url(banner.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-text{
    bottom: 8px;
    right: 16px;
    position: absolute;
    color: white;
    
}
.row{
    display:flex;
}
.column {
    display:flex;
    background-color: white;
    color: rgb(226, 115, 161);
    justify-content: right;
    border-right-color: rgb(226, 115, 161);
    flex: 40%;
    ;
}

.column1{
    display:flex;
    background-color: white;
    color: rgb(226, 115, 161);
    justify-content: left;
    flex: 60%
}
.column1 >p{
    text-align: right;
}

.box{
    display:flex;
    position:relative;
    flex-flow:row wrap;

}

.box1{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;

    flex:40%;
    color: rgb(226, 115, 161);
    border-color:rgb(226, 115, 161);
    border:rgb(226, 115, 161)
}

.box2{
    position:relative;
     background-image: url("Surf Report.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    flex:60%;
    display:flex;
    flex-direction: row;
}

.text-block h4 p >div {
    position:absolute;
    bottom: 20px;
    right:20px;
    background-color: purple;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.box3{
    position:relative;
    background-image: url("UD Wall.jpg");
   background-position:left;
   background-repeat: no-repeat;
   background-size: cover;
    display:flex;
    flex:4;
   flex-direction: row;   

}
.box4{
    position:relative;
    background-image: url("Calculator.jpg");
   background-position:right;
   background-repeat: no-repeat;
   background-size: cover;
   display:flex;
   flex:4;
   flex-direction: column;   
}

.box5{
    position:relative;
    background-image: url("Pastel.jpg");
   background-position:right;
   background-repeat: no-repeat;
   background-size: cover;
   display:flex;
   flex:4;
   flex-direction: row;   
}

.box6{
    position:relative;
    background-image: url("Run Buddy.jpg");
   background-position:right;
   background-repeat: no-repeat;
   background-size: cover;
   display:flex;
   flex:4;
   flex-direction: column;   
}
footer{
    background: white;
    padding:10px 20px;
}